/* --------------- styles for tabs -----------------------*/

.js-tablist__item {
  float: left;
}
#maincontent ul.js-tablist {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}
#maincontent ul.js-tablist::after {
  content: "";
  clear: both;
  display: table;
}

#maincontent .js-tablist__item {
  padding: 0.25rem 0;
  margin: 0;
}

.js-tablist__link {
  padding: 0.5rem 0.8rem;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: aqua;
  color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
}
.js-tablist__item:last-child .js-tablist__link {
  border-right: 1px solid #ccc;
}

.js-tablist__link[aria-selected="true"] {
  color: aqua;
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.js-tabcontent {
  clear: left;
  padding-top: 1rem;
}

.js-tabcontent[aria-hidden="true"] {
  display: none;
}
